@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  opacity: 0;
  -webkit-user-select: none;
  height: 100%;
  background: #1c1c1c;
  animation: 2s ease .5s normal forwards 1 fadein;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

#main {
  width: 100%!important;
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: #1c1c1c;
  -webkit-app-region: drag;
}

#menu-bar h5 {
  color: white!important;
}

#menu-bar>div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}

.container {
  height: calc(100vh - 30px);
  background: #262626;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}

.background-ease {
  -webkit-transition: background .4s linear;
  -moz-transition: background .4s linear;
  -o-transition: background .4s linear;
  -ms-transition: background .4s linear;
  transition: background .4s linear;
  -webkit-transition: opacity .4s linear;
  -moz-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  -ms-transition: opacity .4s linear;
  transition: opacity .4s linear;
}

#tuyaButtonRow,
#pcButtonRow {
  background: #262626;
  padding: 0px!important;
  height: 5vh;
  width: 100%;
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, .35);
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

#tuyaButtonRow button,
#pcButtonRow button {
  width: 48.8%;
}

#devicePaneTuya,
#devicePanePcs {
  border: 1px solid white;
  background: #262626!important;
  background-color: #262626!important;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .25);
  font-size: 12px;
  height: calc(49vh - 50px);
  width: 200px;
  max-height: 500px;
  max-width: 200px;
  white-space: nowrap;
  overflow-y scroll;
  overflow-x: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#tuyaDevices,
#pcDevices {
  padding: 150px;
  margin: auto;
  margin-top: 0;
  display: none;
  width: 200px;
}

#tuyaDevices img,
#tuyaDevices tr,
#pcDevices img,
#pcDevices tr {
  max-height: 18px;
  padding: 1px;
}

#tuyaDevices tr,
#pcDevices tr {
  max-height: 22px;
  padding: 2px;
  overflow-x: none;
  overflow-y: none;
  border-bottom: 1px dashed grey;
  cursor: pointer;
}

#sidebar {
  background: #1c1c1c;
  padding: 2px 10px 10px 10px;
  height: calc(100vh - 30px);
  position: fixed;
  right: 0;
  max-width: 30vw;
}